@import "./common.scss";
@import "./mode.scss";

body {
  height: 100%;
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFangSC-Regular, PingFangSC, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei,
    Arial, sans-serif;
    overflow-x: hidden ;
}
.main-wrapper {
  background: url(/bg.png) 30px bottom no-repeat;
  background-size: 38%;
}
.main-container {
  padding: 0 16px 16px 0;
  overflow: hidden;
}
.main-content {
  overflow: hidden;
}
.shadow-light {
  box-shadow: var(--shadow-light);
}

.shadow-deep {
  box-shadow: var(--shadow-deep);
}