@import "./variables.scss";

.header {
  @apply border-b border-neutral-300;
}
.nav, .main-content {
  background-color: rgba(var(--color-neutral-100-rgb), 0.66);
  border-left: 1px solid rgba(var(--color-neutral-400-rgb), 0.4);
  .type-item {
    margin-bottom: 5px;
    &:first-child {
      border-top-color: transparent;
    }
    &:hover {
      @apply rounded-md;
      box-shadow: var(--shadow-light);
      @apply bg-white;
      border-top-color: transparent;
      &+.type-item {
        border-top-color: transparent;
      }
    }
  }
  .select {
    @apply rounded-md;
    box-shadow: var(--shadow-light);
    @apply bg-white;
    border-top-color: transparent;
    &+.type-item {
      border-top-color: transparent;
    }
  }
}

/* 设置滚动条的宽度和颜色 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* 设置滚动条滑块的颜色和圆角 */
::-webkit-scrollbar-thumb {
  background-color:  var(--color-neutral-300);
  height: 200px;
  border-radius: 5px;
}

.dark-mode {
  .header {
    @apply border-b border-neutral-800;
  }
  .nav, .message-content, .main-content {
    @apply bg-black;
    .type-item {
      &:hover {
        background-color: var(--color-neutral-700);
      }
    }
    .select {
      box-shadow: var(--color-neutral-800);
      background-color: var(--color-neutral-800);
    }
  }

  /* 设置滚动条的宽度和颜色 */
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* 设置滚动条滑块的颜色和圆角 */
  ::-webkit-scrollbar-thumb {
    background-color:  var(--color-neutral-700);
    height: 200px;
    border-radius: 5px;
  }
}
