:root {
  --color-primary-700: #0eebde;
  --color-primary-600: #0eebaa;
  --color-primary-500: #0eebad;
  --color-primary-400: #bbf247;

  --color-neutral-900: #111111;
  --color-neutral-800: #333333;
  --color-neutral-700: #454545;
  --color-neutral-500: #999999;
  --color-neutral-300: #eeeeee;
  --color-neutral-200: #f7f7f7;

  --color-red: #F23268;
  --color-green: #01D2AD;
  --color-orange: #FFA10B;
  --color-blue: #0077FF;
  --color-grey: #545865;
  --color-yellow: #ffe769;
  --color-purple: #A86CE4;
}