:root {
  --color-primary-700: #0eebde;
  --color-primary-600: #0eebaa;
  --color-primary-500: #0eebad;
  --color-primary-400: #bbf247;

  --color-neutral-900: #111111;
  --color-neutral-800: #333333;
  --color-neutral-500: #999999;
  --color-neutral-300: #eeeeee;
  --color-neutral-200: #f7f7f7;

  --color-yellow: #ffe769;
  // --color-purple: #de82ff;
  --color-purple: #7f56d9;
}