.nav {
  width:  270px;
  .type-list {
    // @apply bg-neutral-700 bg-opacity-80;
  }
  .type-item {
    @apply flex justify-between items-center text-lg   cursor-pointer  rounded-xl;
    padding: 10px 10px 10px 5px;
    margin-bottom: 10px;
  }
  .item-text {
    @apply truncate;
  }
}